* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #333;
}

.axis text {
  font: 10px sans-serif;
}

#about > div > div > div > a,
body > div > div > ul > ol > a{
    color: #000;
    background-color: #FFEB3B;
}

#about > div > div > div > a:hover,
body > div > div > ul > ol > a:hover{
  color: #333;
  border-bottom:4px solid #333;
}

ol {
  padding-bottom: 3px;
}

.axis text{
  fill: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#chart{
  padding: 50px;
}

#projs{
  color: #333;
}

#vulns{
  color: white;
}


#about > div > a{
  color: #333;
}

#about > div > a > button:hover{
  padding: 5px 10px;
}


.bar {
  fill: #fffc00;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

svg:not(:root){
  display:block;
  margin: auto;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn {
  color: #FFEB3B;
  background-color: #000;
}

.navbar-default .navbar-brand{
  color: #FFEB3B;
}

.container-fluid{
  background-color: #333;
}

body{
  background-color: #ffffff;
}

.container-fluid{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 35px;
  padding-left: 35px;
}

#results {
  background-color: white;
}

.navbar-default .navbar-nav>li>a, .navbar-brand, .navbar-nav>li>a{
  color: #ffeb3b;
  text-shadow: none;

}

.navbar-default .navbar-nav>li>a:hover{
  color: #ffeb3b;
  border-bottom:2px solid #ffeb3b;
}

#intro{
  background-color: #333;
  padding-bottom: 30px;
}

.navbar{
  margin-bottom: 0px;
}

.label{
  background-color: #FFEB3B;
  color: #000;
  font-size: 100%;
  margin: 5px;
}

.img-circle {
  border-radius: 40%;
  width: 30%;

}

.element{
  padding: 20px;
}

.row{
  padding-bottom: 2%;
  margin-right: unset;
}

#intro, #about, #authors, #publications{
  padding-top: 1%;
  justify-content:center;
  align-items:center;
  text-align: center;
}

#intro .title{
  padding-bottom: 2%;
}

.fa{
  font-size: 1em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: rgba(255,252,0,0.95);
}

#authors > div > div > p > strong > a{
  color: #333;
  background-color: #ffeb3b;
}

#authors > div > div > p > strong > a:hover{
  border-bottom:4px solid #333;
}

#authors > div > div > span > a > i{
  color: #333;
}

.title h1{
  padding-top: 3%;
  padding-bottom:2%;
}


#authors{
  padding: 40px;
}

#intro h1{
  font-size: 4em;
}

#authors h3{
  padding-bottom: 30px;
  color: #1f0724;
}

#authors p{
  padding-top: 20px;
  color: white;
}


a {
  color: #ffeb3b;
  text-decoration: none;

}

#about .github-button{
  float: left;
}

.btn.focus, .btn:focus, .btn:hover{
  color: #ffeb3b;
}


.text{
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 30px;
}

a:hover{
  color: rgba(255,252,0,0.95);
  text-decoration: none;
}

#intro h3{
  padding-bottom: 2%;
}

#intro p, h3{
  color: white;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  color: white;
  text-align: center;
}

body > div.footer > div > div > a{
  color: #FFEB3B;
}

body > div.footer > div > div > a:hover{
  color: rgba(255,252,0,0.8);
}

#publications > h4,
#authors > h4 {
    color: #333;
	padding: 20px;
}

ul{
	margin-left: 200px;
	margin-right: 200px;
}


